@media screen and (min-width:320px) and (max-width:520px)
{
    .subtitle {
        display:none !important;
    }
}

@media (max-width:768px) {
    .mobile {
        display:block;
    }
    .desktop {
        display:none;
    }
}

@media (min-width:768px) {
    .mobile {
        display:none;
    }
    .desktop {
        display:block;
    }
}